
.s-autoform-1{
	box-shadow: 3px 3px 12px rgba(0,0,0,0.3);
	margin: 25px 12px;
	padding: 25px 12px;
	border-radius: 15px;
}
.s-autoform-1 h2,.s-autoform-1 .heading{
	color: var(--primaryColor);
	text-align: center;
}
.s-autoform-1 label{
	display: block;
	margin: 6px 0;
}
.s-autoform-1 input:not([type="radio"]):not([type="checkbox"]),select{
	padding: 7px 12px;
	width: 100%;
	border-radius: 7px;
	border: 1px solid #aaa;
}
.s-autoform-1 input:not([type="radio"]):not([type="checkbox"]):focus,select:focus{
	border: 2px solid var(--primaryColor);
}
.s-autoform-1 button{
	margin: 12px 0;
	padding: 7px 12px;
	border-radius: 7px;
	border:none;
	background-color: var(--primaryColor);
}
.s-autoform-1 button:hover{
	filter: brightness(200%);
}