body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}
.main {
    /* width: calc(50% - 20px); */
    margin: 20px 25px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;
    min-height: 250px;
}
h2 {
    margin-top: 0;
}