article cite{
    color: var(--citeColor);
    font-size: var(--citeTextSize);
}

/* hero section */
    .myhero{
        height: clamp(450px,100vh,900px);
        position: relative;
        overflow: hidden;
    }
    .myhero .herotxt{
        position: absolute;
        font-size: 1.4rem;
        font-family: 'impact','fantasy';
    }
    .myhero .herotxt span.heading b{
        display: inline-block;
/*        color: var(--primaryColor);*/
        background-image: var(--themeGradient);
        background-clip: text;
        color: transparent;
    }
    .myhero .herotxt span.heading{
        font-size: 44px;
        font-family: 'arial';
        font-weight: 800;   
        letter-spacing: 3px;
        background-image: var(--themeGradient);
        background-clip: text;
        color: transparent;
        text-shadow: var(--shadowDark);
    }
    .myhero .herotxt a,.herolike{
    	padding: 15px 20px;
    	border: 1px solid rgba(255,255,255,0.7);
        border-radius: var(--roundnessMedium);
    	display: inline-block;
    	margin: 25px 12px 20px 0;
    	background: rgba(24, 24, 24, 0.3);
    	text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s ease-out;
    }
    .myhero .herotxt a:hover,.myhero .herotxt a.main,.herolike:hover,.herolike.active{
        background-color: white;
        color: #111;
    }

    .herolike.active{
        box-shadow: 0 0 12px cyan;
    }
    .herolike{
        color: #fff;
    }

/* for slideshows */
    .slideguy{
        position: relative;
    }
    .slideguy .options{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        transition: 0.4s ease-out;
    }
    .slideguy .options:hover{
        opacity:0;
    }
    .slideguy .options button{
        height:15px;
        border: none;
        margin: 2px 15px 12px 0;
    }
    .slideguy .options button{
        transition: var(--transitionFast);
    }
    .slideguy .options button.current{
        background-color: var(--primaryColor);
    }
    .slideguy .slides{
        min-height: 80vh;
        background-color: rgba(24, 24, 24, 0.74);
        background-image: linear-gradient(-90deg,transparent,rgba(0, 61, 46, 0.8));
    }
    .slideguy .slides .slide{
        color: #fff;
        display: none;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin: 0;
    }
    .slideguy .slides .slide .slideimg{
        width: 100%;
    }
    .slideguy .slides .slide .overlay{
        position: absolute;
        bottom: 0;
        left: 0;
        translate: 50% -50%;
        background-color: rgba(24, 24, 24, 0.3);
    }
    .slideguy .slides h2{
        padding: 12px 0;
    }
    .slideguy .slides h3{
        color: var(--primaryColor);
        font-size: 45px !important;
    }
    .slideguy .slides hr{
        width:15%;
        margin: 45px 0;
        border-width: 5px;
        border-radius: 12px;
    }